<html>
{% extends 'index.html' %}
{% block content %}
<body>
    <div class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-center"> 
        <h4>Login to your account</h4>
    </div>   
    <div class="d-flex justify-content-center">
        
    {% if form.errors %}
        {% for key,value in form.errors.items %}
            {{ value }} 
        {% endfor %}
    {% endif %}
    <div class="form-group">
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Username : &nbsp {{ form.username }}</span>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Password : &nbsp&nbsp {{ form.password }}</span>
            </div>
        </div>
            <a href='{% url "displayposts" %}'><button type='button' class="btn btn-dark">Back</button></a>
            &nbsp;
            <input class="btn btn-primary" type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
    </div>
</body>
{% endblock %}
</html>