
<html>
    {% extends 'index.html' %}
    {% block content %}
    <head>
        <div class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-center">
            <h4>About</h4>
        </div>
    </head>
    <body>
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac turpis egestas sed tempus urna et pharetra pharetra massa. 
            Nullam vehicula ipsum a arcu cursus vitae congue. Porta lorem mollis aliquam ut porttitor leo a. 
            Est ullamcorper eget nulla facilisi. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque. 
            Placerat orci nulla pellentesque dignissim enim sit amet venenatis urna. Interdum posuere lorem ipsum dolor sit amet consectetur. Amet mattis vulputate enim nulla aliquet. Accumsan lacus vel facilisis volutpat est.</p>

            <p>Morbi non arcu risus quis varius. Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. 
            Sit amet consectetur adipiscing elit. Ullamcorper a lacus vestibulum sed arcu non odio euismod lacinia. 
            Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Congue nisi vitae suscipit tellus mauris a. Nec nam aliquam sem et tortor consequat id porta nibh. 
            Risus pretium quam vulputate dignissim suspendisse in. Mattis aliquam faucibus purus in. Turpis massa tincidunt dui ut. Aliquet lectus proin nibh nisl condimentum id venenatis a. Natoque penatibus et magnis dis. 
            Ornare suspendisse sed nisi lacus sed viverra tellus. Id cursus metus aliquam eleifend mi in nulla posuere. Sed cras ornare arcu dui vivamus arcu felis bibendum ut. Turpis egestas pretium aenean pharetra.</p>
        </div>
    </body>
    {% endblock %}
</html>