<html>
    {% extends 'index.html' %}
    {% block content %}
    <div class="shadow-sm p-3 mb-5 bg-white rounded d-flex justify-content-center">
        <h4>Sign Up</h4>
    </div>
    <body>
        <div class="d-flex justify-content-center"> 
        <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">First Name : &nbsp; {{ form.first_name }}</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Last Name : &nbsp; {{ form.last_name }}</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Username : &nbsp; {{ form.username }}</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Password : &nbsp; {{ form.password1 }}</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Confirm Password : &nbsp; {{ form.password2 }}</span>
                </div>
            </div>
                <a href='{% url "displayposts" %}'><button type='button' class="btn btn-dark">Back</button></a>
                &nbsp;<input class="btn btn-success" type="submit" value="Sign Up">
        </form>
        </div>
        </div>
    </body>
    {% endblock %}    
</html>