<html>
    {% extends 'index.html' %}
    {% block content %}
    <head>
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <h3>Create a new post</h3>
        </div>
    </head>     
    <body>
        <div class="container-fluid">
        <a href="{% url 'displayposts' %}"><button class="btn btn-dark">Back</button></a>
        <div class="form-group">
        <form method='POST'>
            {% csrf_token %}
            {% if user.is_authenticated %}
                    {{ post.as_p }}
                    <input type='submit' value='Post'>
            {% else %}
                <p>User not logged in. Please login to create a new post.</p>
            {% endif %}            
        </form>
        </div>
        </div>
    </body>
    {% endblock %}

</html>