<html>
    {% extends 'index.html' %}
    {% block content %}
    <body>
        <br>
        <div class="container-fluid">
        &nbsp; &nbsp;<a href="{% url 'createpost' %}"><button class="btn btn-warning">New Post</button></a> &nbsp; &nbsp;
        <hr>       
        {% for post in posts %}
            <p>By <span class="badge badge-pill badge-info">{{ post.author }}</span></p>
            <div class="alert alert-warning" role="alert">
                <b>{{ post.title }}</b>
                <p>{{ post.text }}</p>
                <hr>
                <i>Posted on: {{ post.post_datetime }}</i>
            </div>
            <hr>
        {% endfor %}  
        </div>      
    </body>
    {% endblock %}
</html>