<html>
    {% extends 'index.html' %}
    {% block content %}
    <body>
        <br>
        <div class="container p-3 bg-light">
            {% if user.is_authenticated %}
            <div class="card p-0 mb-0">
                <div class="card-body p-2 mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            @{{ user.username }}
                        </div> &nbsp;
                        <a href="{% url 'createpost' %}" class="text-decoration-none">
                            <input class="form-control" type="text" style="width:500px;" placeholder="Create Post">
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            <br>
            <br>
            {% endif %}       
        <hr>       
        {% for post in posts.object_list %}           
            <div class="shadow-sm p-3 mb-4 bg-white rounded">                
                <b><a href={% url "postdetails" pk=post.pk %} class="text-decoration-none">{{ post.title }}</a></b>
                    {% if user.username|stringformat:"s" == post.author|stringformat:"s" %}
                    <a href="{% url 'editpost' pk=post.pk %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                        <path fill-rule="evenodd" d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z">
                        </path>
                        </svg>    
                    </a>  
                    {% else %}
                    <b></b>
                    {% endif %}
                    <div class="overflow-hidden">
                        <span class="d-inline-block" style="max-width: 1500px;">
                            <p>{{ post.text|truncatewords:40 }}</p>
                        </span>
                    </div>
                    <hr>
                    <p class="text-right mb-0 p-0">
                        <span class="badge badge-pill badge-light">{{ post.author }}</span> 
                        &nbsp;|&nbsp; 
                        <small><i>{{ post.post_datetime }}</i></small>
                    </p>    
            </div>
            <hr> 
        {% endfor %}  
        </div>
        <div class="container">  
            <ul class="pagination pagination-sm justify-content-end">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for pg in posts.paginator.page_range %}
                    {% if posts.number == pg %}
                        <li class="page-item active"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                {% endif %}
              </ul>
        </div>      
    </body>
    {% endblock %}
</html>