<html>
    {% extends 'index.html' %}
    {% block content %}
    <body>
        <br>
        <div class="container">
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ form }}
           <br>
            <div class="text-right">
                <a href="{% url 'postdetails' pk=pk %}">
                    <button type="button" class="btn btn-secondary btn-sm"> Cancel </button>
                </a>
                <input type="submit" class="btn btn-primary btn-sm" value="Post">
            </div>
        </form>
        {% else %}
        <br>
        <hr>
        <div class="container">
            <div class="text-center">
                <a href="{% url 'login' %}">
                    Login to reply
                </a>
            </div>
        </div>
        {% endif %}
        </div>
    </body>
    {% endblock %}
</html>