<html>
    {% extends 'index.html' %}
    {% block content %}
    <head>
    </head>
    <body>
        <br>
        <div class="container">
        <form method="POST">
            {% csrf_token %}
                {{ form.reply }}
                {% if user.is_authenticated %}
                <br>
                <div class="col-sm-5">  
                    <input class="form-control" type="text" name="respondent" maxlength="15" size="5" id="id_respondent" value="{{ form.respondent.value|default:user.username }}"  required readonly>         
                </div> 
                {% else %}
                <br>
                <div class="col-sm-5">    
                    {{ form.respondent }}
                </div>
                {% endif %}    
           <br>
            <div class="text-right">
                <a href="{% url 'postdetails' pk=pk %}" class="text-decoration-none">
                    <button type="button" class="btn btn-secondary btn-sm"> Cancel </button>
                </a>
                <input type="submit" class="btn btn-primary btn-sm" value="Post">
            </div>
        </form>
        </div>
    </body>
    {% endblock %}
</html>