<html>
    {% extends 'index.html' %}
    {% block content %}
    <body>
        <div class="container-fluid">
        {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
             {{ form }}
             <input type="submit" value="Post">
        </form>
        {% else %}
        <br>
        <hr>
            <a href="{% url 'login' %}">
                <button type="button" class="btn btn-primary btn-lg btn-block">Login to reply</button>
            </a>
        {% endif %}
        </div>
    </body>
    {% endblock %}
</html>